USE [master]
GO
/****** Object:  Database [VETERİNER_OTOMASYONU]    Script Date: 4.05.2026 11:58:00 ******/
CREATE DATABASE [VETERİNER_OTOMASYONU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VETERİNER_OTOMASYONU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VETERİNER_OTOMASYONU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VETERİNER_OTOMASYONU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VETERİNER_OTOMASYONU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VETERİNER_OTOMASYONU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VETERİNER_OTOMASYONU]
GO
/****** Object:  Table [dbo].[Hayvanlar]    Script Date: 4.05.2026 11:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hayvanlar](
	[hayvanID] [int] IDENTITY(1,1) NOT NULL,
	[sahipID] [int] NOT NULL,
	[hayvanAd] [varchar](50) NULL,
	[tur] [varchar](50) NOT NULL,
	[cins] [varchar](50) NOT NULL,
	[cinsiyet] [varchar](10) NOT NULL,
	[dogum_Tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[hayvanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[islem_Gecmisi]    Script Date: 4.05.2026 11:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[islem_Gecmisi](
	[gecmisIslemID] [int] IDENTITY(1,1) NOT NULL,
	[randevuID] [int] NULL,
	[urunID] [int] NULL,
	[satisFiyati] [decimal](18, 2) NULL,
	[islemTarihi] [datetime] NULL,
	[islemFiyati] [decimal](18, 2) NULL,
	[islemAdi] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[gecmisIslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 4.05.2026 11:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[kullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAd] [varchar](50) NOT NULL,
	[kullaniciSifre] [nvarchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[randevu_Takvimi]    Script Date: 4.05.2026 11:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[randevu_Takvimi](
	[randevuID] [int] IDENTITY(1,1) NOT NULL,
	[hayvanID] [int] NOT NULL,
	[urunID] [int] NULL,
	[randevu_Tarih] [datetime] NOT NULL,
	[yapilacak_Islem] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[randevuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sahip]    Script Date: 4.05.2026 11:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sahip](
	[sahipID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](100) NOT NULL,
	[soyad] [varchar](100) NOT NULL,
	[telefon] [varchar](20) NOT NULL,
	[e_posta] [varchar](254) NULL,
PRIMARY KEY CLUSTERED 
(
	[sahipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stok_Takibi]    Script Date: 4.05.2026 11:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stok_Takibi](
	[urunID] [int] IDENTITY(1,1) NOT NULL,
	[urunAD] [varchar](100) NOT NULL,
	[kategori] [varchar](40) NOT NULL,
	[miktar] [int] NOT NULL,
	[skt] [date] NULL,
	[urunUcret] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[urunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[stok_Takibi] ADD  DEFAULT ((0)) FOR [urunUcret]
GO
ALTER TABLE [dbo].[Hayvanlar]  WITH CHECK ADD  CONSTRAINT [FK_Hayvanlar_Sahip] FOREIGN KEY([sahipID])
REFERENCES [dbo].[Sahip] ([sahipID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hayvanlar] CHECK CONSTRAINT [FK_Hayvanlar_Sahip]
GO
ALTER TABLE [dbo].[islem_Gecmisi]  WITH CHECK ADD  CONSTRAINT [FK_Gecmis_Randevu] FOREIGN KEY([randevuID])
REFERENCES [dbo].[randevu_Takvimi] ([randevuID])
GO
ALTER TABLE [dbo].[islem_Gecmisi] CHECK CONSTRAINT [FK_Gecmis_Randevu]
GO
ALTER TABLE [dbo].[islem_Gecmisi]  WITH CHECK ADD  CONSTRAINT [FK_Gecmis_Stok] FOREIGN KEY([urunID])
REFERENCES [dbo].[stok_Takibi] ([urunID])
GO
ALTER TABLE [dbo].[islem_Gecmisi] CHECK CONSTRAINT [FK_Gecmis_Stok]
GO
ALTER TABLE [dbo].[randevu_Takvimi]  WITH CHECK ADD  CONSTRAINT [FK_rd_Hayvanlar] FOREIGN KEY([hayvanID])
REFERENCES [dbo].[Hayvanlar] ([hayvanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[randevu_Takvimi] CHECK CONSTRAINT [FK_rd_Hayvanlar]
GO
ALTER TABLE [dbo].[randevu_Takvimi]  WITH CHECK ADD  CONSTRAINT [FK_rd_stokTakip] FOREIGN KEY([urunID])
REFERENCES [dbo].[stok_Takibi] ([urunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[randevu_Takvimi] CHECK CONSTRAINT [FK_rd_stokTakip]
GO
ALTER TABLE [dbo].[Hayvanlar]  WITH CHECK ADD CHECK  (([cinsiyet]='Disi' OR [cinsiyet]='Erkek'))
GO
USE [master]
GO
